*~

.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libpreprof.la
libpreprof_la-utils.lo
libtool
ltmain.sh
missing
stamp-h1

m4/
!m4/ax_*

libpreprof_la-preprof.lo
libpreprof_la-process.lo
libpreprof_la-log.lo
